body{
  background-color: blueviolet;
}

.todo{
  width: 50vw;
  padding: 40px;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
}
.title{
  font-size: 1.5rem;
}
.add_line{
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 30px;
}
.memo{
  width: 80%;
  line-height: 30px;
}
.add{
  color: plum;
  border: plum solid 2px;
  font-weight: bold;
  border-radius: 25%;
  display: block;
  padding: 5px 10px;
}
.add:hover{
  color: white;
  background-color: plum;
}


table{
  margin-top: 40px;
  text-align: center;
  line-height: 40px;
  width:95%;
}
th{
  font-weight: bold;
}
.content{
  line-height: 20px;
  width:90%;
}
.update{
  color:orange;
  border: orange solid 2px;
  border-radius: 25%;
  font-weight: bold;
  padding: 5px 10px;
}
.update:hover{
  color: white;
  background-color: orange;
}
.delete{
  color: aquamarine;
  border: aquamarine solid 2px;
  border-radius: 25%;
  font-weight: bold;
  padding: 5px 10px;
}
.delete:hover{
  color: white;
  background-color: aquamarine;
}